*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
}

html{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

:root{
    font-size: 16px; // 16px = 1rem，给浏览器设置一个默认字体大小
}
